/* Breakpoints */
$mobileBP  : "680px";
$desktopBP : "768px";
/* Colors */
$black     : #000;
$white     : #FFF;
$agray     : #AAA;
$bgray     : #BBB;
$cgray     : #CCC;
$dgray     : #DDD;
$egray     : #EEE;
$remux_blue: #6cb3e5;
$offwhite  : #fffff1;
$txt_black : #333;
$fb_blue   : rgba(59, 89, 152, 1);
$amazon    : #FF9900;
